<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['/home']"
        (click)="drawer.toggle()"
        routerLinkActive="router-link-active"
        >Dashboard
      </a>
      <a
        mat-list-item
        [routerLink]="['/tree']"
        (click)="drawer.toggle()"
        routerLinkActive="router-link-active"
        >Mat Tree
      </a>
      <a
        mat-list-item
        [routerLink]="['/address']"
        (click)="drawer.toggle()"
        routerLinkActive="router-link-active"
        >Mat form fields
      </a>
      <a
        mat-list-item
        [routerLink]="['/table']"
        (click)="drawer.toggle()"
        routerLinkActive="router-link-active"
        >Mat Table
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="15px"
    >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button
        mat-button
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
      >
        Home
      </button>
      <span>Angular v{{ ngVersion }} sample</span>
      <span class="spacer"></span>
      <mat-slide-toggle color="accent" (click)="toggleDarkMode()">
        <mat-icon>{{ isDarkModeOn ? "light_mode" : "dark_mode" }}</mat-icon>
      </mat-slide-toggle>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
