<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <div
    fxLayout="row wrap"
    fxLayout.lt-md="column wrap"
    fxLayoutAlign="start center"
    fxLayoutGap="15px grid"
  >
    <div *ngFor="let card of cards | async" fxFlex="30%" fxFlex.lt-md="90%">
      <mat-card cdkDrag>
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="card.title === 'Card 1'">
            <a
              mat-stroked-button
              color="accent"
              [routerLink]="['/table']"
              routerLinkActive="router-link-active"
              >Mat Table
            </a>
          </div>
          <div *ngIf="card.title === 'Card 2'">
            <a
              mat-stroked-button
              color="accent"
              [routerLink]="['/address']"
              routerLinkActive="router-link-active"
              >Mat form fields
            </a>
          </div>
          <div *ngIf="card.title === 'Card 3'">
            <a
              mat-stroked-button
              color="accent"
              [routerLink]="['/tree']"
              routerLinkActive="router-link-active"
              >Mat Tree
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
